allow sensors persist_file:dir { search write create add_name setattr };
allow sensors persist_file:file { create rw_file_perms setattr getattr append open };
